@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: Poppins, sans-serif;
}

.custom-img {
  /*Insert URL With image to first responder flag*/
  background-image: url();
}